@model IEnumerable<SGVRestaurantProject.Models.MenuItem>

@{
    ViewData["Title"] = "Menu Items";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a class="btn" asp-controller="MenuItems" asp-action="Create">New Menu Item</a>
</div>
<div class="row row-cols-3 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.ItemName</h5>
                    <a class="btn" asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                    <a class="btn" asp-action="Details" asp-route-id="@item.ItemId">Details</a>
                    <a class="btn" asp-controller="BanquetAndMenuItems" asp-action="Create" asp-route-id="@item.ItemId">Add to banquet</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
