@model IEnumerable<SGVRestaurantProject.Models.Booking>

@{
    ViewData["Title"] = "Make Bookings";
}

<h1>Making Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sitting.SittingDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.SittingDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a class="btn btn-outline-primary p-1" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> 
                    <a class="btn btn-outline-primary p-1" asp-action="Details" asp-route-id="@item.BookingId">Details</a> 
                    <a class="btn btn-outline-primary p-1" asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
