@model IEnumerable<SGVRestaurantProject.Models.Booking>

@{
    ViewData["Title"] = "Restaurant Bookings";

    int count = 0;
}

<h1>Restaurant Bookings</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sitting Id</th>
                <th scope="col">Sitting</th>
                <th scope="col">Sitting Times</th>
                <th scope="col">Booked by</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var booking in Model)
                {
                        count++;
                    
                    <tr>
                        <th scope="row">@count</th>
                        <td>@booking.SittingId</td>
                        <td>@booking.Sitting.SittingType</td>
                        <td>@booking.Sitting.SittingDuration</td>
                        <td>@booking.User.FirstName @booking.User.LastName</td>
                        <td>@booking.User.Email</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    @{
                        count++;
                    }
                    <th scope="row">@count</th>
                    <td>No data in model.</td>
                </tr>
            }


        </tbody>
    </table>
</div>

