@model IEnumerable<SGVRestaurantProject.Models.BanquetMenu>

@{
    ViewData["Title"] = "Banquets";
}

<h1>Available banquets</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Add new banquet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant
            </th>
            <th>
                Banquet
            </th>
            
            <th>
                @*@Html.DisplayNameFor(model => model.BanquetCost)*@
                Cost
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.BanquetAvailability)*@
                Availability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BanquetName)
                </td>
                
                <td>
                    &#36 @{
                        var cost = item.BanquetCost > 0 ? item.BanquetCost : 0;


                    }

                    @Html.DisplayFor(modelItem => cost)

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.BanquetAvailability)*@
                    @if (item.BanquetAvailability == true)
                    {
                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not currently available</p>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.BanquetId">Edit</a>
                    <a class="btn btn-outline-primary" asp-controller="BanquetAndMenuItems" asp-action="Index" asp-route-id="@item.BanquetId">Edit Items</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.BanquetId">Details</a>
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.BanquetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
