@model SGVRestaurantProject.Models.CompleteRestaurantDetails

@{
    ViewData["Title"] = "Details";
}

<div class="container py-4">
    <div class="p-5 mb-4 text-white bg-dark rounded-3 mh-50">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
                @Html.DisplayFor(model => model.theRestaurant.RestaurantName)
            </h1>
            <p>@Html.DisplayFor(model => model.theRestaurant.RestaurantAddress)</p>
        </div>
        <div>
            <a asp-controller="Bookings" asp-action="Create" asp-route-restaurantId ="@Model.theRestaurant.RestaurantId" class="btn btn-outline-light p">Make Reservation</a>
</div>
    </div>
    <div class="row align-items-md-stretch">
        @foreach (var banquetMenu in Model.banquetMenus)
        {
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 bg-light border rounded-3 ">
                    <h2>@banquetMenu.BanquetName</h2>
                    <ul>
                        @foreach (var bami in banquetMenu.BanquetAndMenuItems)
                        {
                            <li>@bami.Item.ItemName</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>


@*
<div>
    <a asp-action="Edit" asp-route-id="@Model?.theRestaurant.RestaurantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
