@model SGVRestaurantProject.Models.CompleteRestaurantDetails

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.theRestaurant.RestaurantName</h1>

<div>
    <h5>Restaurant details</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.theRestaurant.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.theRestaurant.RestaurantAddress)
        </dd>
        <dt class=" = col-sm-2">
            Offered Banquets
        </dt>
        <dd class = "col-sm-10">
            @if (@Model.banquetMenus != null && Model.banquetMenus.Any())
            {
                 @foreach (var rbm in Model.banquetMenus)
                 {
                    <p>@rbm.BanquetName - $@rbm.BanquetCost</p>
                 }
            }
            else
            {
                <div>
                    <p>This restaurant does not offer banquets :(</p>
                </div>
            }
        </dd>

    </dl>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.theRestaurant.RestaurantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
