@model IEnumerable<SGVRestaurantProject.Models.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn" asp-action="Create">Add a restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>
                Restaurant Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress)
            </td>
                <td class="d-flex justify-content-end">
                <a class="btn" asp-controller="Bookings" asp-action="RestaurantBookings" asp-route-restaurantId="@item.RestaurantId" style="margin-left: 3px;">View Bookings</a>
                <a class="btn" asp-action="Edit" asp-route-id="@item.RestaurantId" style="margin-left: 3px;">Edit</a>
                <a class="btn" asp-action="Details" asp-route-id="@item.RestaurantId" style="margin-left: 3px;">Details</a>
                <a class="btn" asp-action="Delete" asp-route-id="@item.RestaurantId" style="margin-left: 3px;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
