@model IEnumerable<SGVRestaurantProject.Models.BanquetAndMenuItem>

@{
    ViewData["Title"] = "Index";
}


<h1>@ViewBag.RestaurantName</h1>



<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Banquet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (item.Item == null)
            {
                <tr>
                    <td>
                        No menu items
                    </td>
                    
                </tr>
            }
            else
            {
            <tr>
            
            <td>
                @Html.DisplayFor(modelItem =>item.Banquet.BanquetName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BanquetAndMenuItemsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BanquetAndMenuItemsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BanquetAndMenuItemsId">Delete</a>
            </td>
        </tr>  
            }
            
}
    </tbody>
</table>
